@import url(./reset.css);

@font-face {
    font-family: "Young Serif";
    src:
     local("Young Serif"),
     url(../fonts/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Outfit";
    src:
     local("Outfit"),
     url(../fonts/Outfit-VariableFont_wght.ttf);
}

:root{
    /* SCSS HEX */
    --mindaro: #ceec97ff;
    --peach: #f4b393ff;
    --hot-pink: #fc60a8ff;
    --french-violet: #7a28cbff;
    --english-violet: #494368ff;
    --yellow: #FFFDBF;

    --space-cadet: #22223bff;
    --ultra-violet: #4a4e69ff;
    --rose-quartz: #9a8c98ff;
    --pale-dogwood: #c9ada7ff;
    --isabelline: #f2e9e4ff;
    --blue: #29627e;

    --title-font: Young Serif;
    --font: Outfit;
}

/* #region menu */

.header{

}
/* #endregion */

/* #region contenu général */
h1{
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    margin-top: 55vh;
    animation-name: title;
    animation-fill-mode: both;
    animation-duration: 1ms; 
    transition: all 3ms ease-in;
  }
span, aside, p, h2, h3, mark, div, pre, code, button, a, li
{
  view-timeline: --subjectReveal block;
  animation-timeline: --subjectReveal;

  animation-name: appear;
  animation-fill-mode: both;
  animation-duration: 1ms; 
  transition: all 3ms ease-in;
}

.hero__small{
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: hop;
    animation-fill-mode: both;
    animation-duration: 1ms; 
    transition: all 3ms ease-in;
}

@keyframes title {
    0%, 30% {
        opacity: 0;
        transform: scale(0.7);
    }
    60%{
        opacity: 1;
    }
    85%{
        opacity: 1;
        transform: scale(1);
    }
  }
@keyframes appear {
    0%, 15% {
        opacity: 0;
        transform: translateX(-100%);
    }
    30% {
        opacity: 1;
        transform: translateX(3%);
    }
    50%{
        transform: translateX(0);
    }
  }
@keyframes hop{
    0%, 30% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 1;
        transform: translateX(5%);
    }
    80% {
        opacity: 1;
        transform: translateX(0);
    }
  }

.body{
    display: flex;
    justify-content: center;
    font-family: var(--font);
    font-weight: 700;
    font-size: 1rem;
}

h1, h2, h3{
    font-family: var(--title-font);
}

.main{
    background-color: #f5f5f5;    
    max-width: 800px;
    width:800px;
    padding: 1.5rem;
    border-radius: 15px;
}

code{
    vertical-align: baseline;
    /* background-color: #c0adad;
    padding: 1rem;
    border-radius: 3px; */
}
.section{
    padding: 2rem 0;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.section__title{
    font-size: 1.5rem;
}

.text__highlight{
    background-color: var(--isabelline);
    border-radius: 2px;
    /* text-decoration: none; */
    color: var(--english-violet);
}

.text__lowlight{
    font-style: italic;
    font-weight: 500;
}

aside {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    box-shadow: inset 6px 0 2px -5px var(--blue);
    font-style: italic;
    font-size: 0.8rem;
    color: var(--blue);
  }

/* #endregion */

/* #region contentDir */

.exemple__container{
    background-color: var(--isabelline);
    display: flex;
    padding-inline-start: 25px;
    padding-inline-end: 5px;
    padding-block-start: 15px;
    padding-block-end: 15px;
    border-radius: 2px;
    align-items: center;
}

.exemple__img{
    display: block;
    background-color: var(--rose-quartz);
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.exemple__margin
{
    display: block;
    height: 50px;
    width: 15px;
    background: var(--pale-dogwood);
}

.contentDir__list__link, .hero__button{
    color: var(--isabelline);
    width: fit-content;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 16px;
    background: var(--space-cadet);
    border: unset;
    transition: all 3ms ease-in;

}

.contentDir__list__link:focus, .hero__button:focus{
    transition: all 3ms ease-in;
    color: var(--space-cadet);
    background: transparent;
    border: 1px solid var(--space-cadet);
}

/* #endregion */

/* #region hero */
.hero{
    padding: 0.5rem 0.5rem 2rem;
    text-align: center;
}

.hero__title{
    font-size: 3.3rem;
    padding: 1rem;
}
.hero__small{
    font-size: 0.8rem;
    font-style: italic;
}

.hero__button{
    margin: 15px 0;
    border: none;
    background-color: none;
}

/* #endregion */

/* #region content lang */

.background{
    background: #e0c78b;
    inline-size: 130px;
    block-size: 180px;
    padding: 5px;
    border-inline-start: 6px solid;
    padding-inline: 10px 15px;
    position:relative;
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.delimitation{
    display:block;
    position:absolute;
    inset-block-end: 0;
    inline-size: 80px;
    border-block-start: 3px dotted black;
}
.footer{
    font-style:italic;
    color: purple;
    padding-block: 5px;
}

.vertical__ch{
    writing-mode: vertical-lr;
}
.vertical__ja{
    writing-mode: vertical-rl;
}
.vertical__reset{
    writing-mode: inherit;
}
/* #endregion */

/* #region reading */

.reading .language-css{
    line-height: 1.2rem;
}

.container__ex {
    border-radius: 5px;
	background: #263238;
	font-size: 1em;
	line-height: 1.5rem;
    padding: 15px;
    hyphens: none;
}

.reading__output p{
    color: var(--isabelline);
}

.reading__output__exemple, .reading__output__exemple2
{
    position: relative;
    margin: 30px 0;
    display: flex;
    align-items: center;
    inline-size: 16rem;
    block-size: 25px;
    background-color: var(--mindaro);
}

.reading__output__exemple2{
    writing-mode:vertical-lr;
}

.reading__output__exemple::before,
.reading__output__exemple::after,
.reading__output__exemple2::after,
.reading__output__exemple2::before{
    content: 'end';
    color: var(--space-cadet);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: var(--peach);
    inset-block-start: -14px;
    border-radius: 25px;
}

.reading__output__exemple::after, .reading__output__exemple2::after{
    inset-inline-end: -10px;
}

.reading__output__exemple::before, .reading__output__exemple2::before
{
    content: 'start';
    inset-inline-end: auto;
    inset-inline-start: -10px;
}

.reading__output__exempleItem
{
    margin-inline-start: 50px;
    background-color: red;
    height: 10px;
    width: 20px;
    display: block;
}

.situation__output__buttons
{
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-bottom: 20px;
}

.situation__output__btn
{
    border: none;
    background: var(--pale-dogwood);
    font-weight: 700;
    border-radius: 3px;
    padding: 3px 6px;
}

.situation__output__btn:focus
{
    background-color: var(--isabelline);
}

/* #endregion */

.positionnement__output{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}

.positionnement__button
{
    border: none;
    background: var(--pale-dogwood);
    font-weight: 700;
    border-radius: 3px;
    padding: 10px 6px;
}