/* CSS RESET v05-2023  */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  overflow-wrap: break-word;
}
p {
  overflow-wrap: break-word;
  text-align:justify ;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

button,
input,
select {
  font-family: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}



code[class*="language-"],
pre[class*="language-"] {
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
  border-radius: 5px;
	color: #c3cee3;
	background: #263238;
	font-size: 1em;
	line-height: 1.5rem;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
  vertical-align: baseline;
}